$color-primary: #4c956c;
$color-dark-green: #2c6e49;
$color-secondary: #ffc9b9;
$color-tertiary: #d68c45;
$color-light-yellow: #ffffe6;
$color-dark-navy: #505d64;
$color-light-navy: #a9b7bf;

$font-sans-serif: 'Inter var', sans-serif;
$font-monospace: Consolas, Menlo, 'Roboto Mono', monospace;
